<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geolancha</title>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

</head>

<body>

    <div id="map" style="height:500px; margin-top: 50px; position: relative; outline: none;"></div>
    
    <script>

        state = {
            location: {
                x: null,
                y: null
            }
        }
        var socket = io('http://localhost:3000')
        navigator.geolocation.getCurrentPosition((pos) => {
            this.state = {
                location: {
                    x: pos.coords.latitude,
                    y: pos.coords.longitude
                }
            }
            var position = [this.state.location.x, this.state.location.y];
            socket.emit('Client_send_pos', position)

            var map = L.map('map').setView(position, 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            socket.on('send_load_pos', (data) => {
                data.forEach(function (i) {
                    L.marker(i).addTo(map)
                    .bindPopup("Olá" + i)
                    .openPopup();
                })
            })
            
        });

    </script>

</body>

</html>